#! This file should be called .env

# We use this file to store secrets! SSSHHHHHHHH! It's a secret, no sharing allowed!

# We don't push this file to GitHub --> .gitignore

# We will store data in variables --> environment variables
DATABASE_URL=postgresql://postgres.arsqdwnljfusymrsezgy:A17VFS7CVsCAum2H@aws-1-eu-west-2.pooler.supabase.com:6543/postgres