nav {
  display: flex;
  gap: 1rem;
}

/* don't do this */
body {
  background-color: blue;
}
body {
  background-color: red;
}

/*
the files get loaded in this order
index.css
App.css
Header.css
Navbar.css
*/
